---
import Layout from "../../layouts/Layout.astro";

const products = [
  { name: "Product 1", slug: "product-1" },
  { name: "Product 2", slug: "product-2" },
  { name: "Product 3", slug: "product-3" },
];
---

<Layout>
  <h1>Products</h1>
  <ul>
    {products.map((product) => (
      <li><a href={`/products/${product.slug}`}>{product.name}</a></li>
    ))}
  </ul>
</Layout>
