---
import Layout from "../layouts/Layout.astro";
import Form from "../components/form.astro";
---

<Layout>
  <h1>Checkout</h1>
  <p>Ready to place your order? Proceed to checkout.</p>
  <Form/>
</Layout>
